{{#each photos as |photo|}}
    {{photo-gallery-item photo=photo}}
{{/each}}
{{yield}}

<div style="clear: both"></div>
<button {{action 'prevPageAction'}}>Prev</button>
<button {{action 'nextPageAction'}}>Next</button>

{{photo-gallery-favourites}}
